service: zambdas

frameworkVersion: '3'

package:
  individually: true

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, self:custom.defaultStage}

custom:
  defaultStage: local
  serverless-offline:
    reloadHandler: true
    httpPort: 3301

functions:
  create-telemed-room:
    handler: src/create-telemed-room/index.index
    events:
      - http:
          path: zambda/create-telemed-room/execute-public
          method: POST
    timeout: 25
    environment:
      AUTH0_ENDPOINT: ${file(./.env/${self:provider.stage}.json):AUTH0_ENDPOINT}
      AUTH0_AUDIENCE: ${file(./.env/${self:provider.stage}.json):AUTH0_AUDIENCE}
      AUTH0_CLIENT: ${file(./.env/${self:provider.stage}.json):AUTH0_CLIENT}
      AUTH0_SECRET: ${file(./.env/${self:provider.stage}.json):AUTH0_SECRET}
      PROJECT_API: ${file(./.env/${self:provider.stage}.json):PROJECT_API}
      PROJECT_ID: ${file(./.env/${self:provider.stage}.json):PROJECT_ID}

  get-slug-availability:
    handler: src/get-slug-availability/index.index
    events:
      - http:
          path: zambda/get-slug-availability/execute-public
          method: POST
    timeout: 25
    environment:
      AUTH0_ENDPOINT: ${file(./.env/${self:provider.stage}.json):AUTH0_ENDPOINT}
      AUTH0_AUDIENCE: ${file(./.env/${self:provider.stage}.json):AUTH0_AUDIENCE}
      AUTH0_CLIENT: ${file(./.env/${self:provider.stage}.json):AUTH0_CLIENT}
      AUTH0_SECRET: ${file(./.env/${self:provider.stage}.json):AUTH0_SECRET}
      FHIR_API: ${file(./.env/${self:provider.stage}.json):FHIR_API}
      PROJECT_API: ${file(./.env/${self:provider.stage}.json):PROJECT_API}
      PROJECT_ID: ${file(./.env/${self:provider.stage}.json):PROJECT_ID}

  get-telemed-token:
    handler: src/get-telemed-token/index.index
    events:
      - http:
          path: zambda/get-telemed-token/execute-public
          method: POST
    timeout: 25
    environment:
      AUTH0_ENDPOINT: ${file(./.env/${self:provider.stage}.json):AUTH0_ENDPOINT}
      AUTH0_AUDIENCE: ${file(./.env/${self:provider.stage}.json):AUTH0_AUDIENCE}
      AUTH0_CLIENT: ${file(./.env/${self:provider.stage}.json):AUTH0_CLIENT}
      AUTH0_SECRET: ${file(./.env/${self:provider.stage}.json):AUTH0_SECRET}
      FHIR_API: ${file(./.env/${self:provider.stage}.json):FHIR_API}
      PROJECT_API: ${file(./.env/${self:provider.stage}.json):PROJECT_API}
      PROJECT_ID: ${file(./.env/${self:provider.stage}.json):PROJECT_ID}
  version:
    handler: src/version/index.index
    events:
      - http:
          path: zambda/version/execute-public
          method: POST
    timeout: 25

  get-patient-queue:
    handler: src/get-patient-queue/index.index
    events:
      - http:
          path: zambda/get-patient-queue/execute
          method: POST
    timeout: 25
    environment:
      AUTH0_ENDPOINT: ${file(./.env/${self:provider.stage}.json):AUTH0_ENDPOINT}
      AUTH0_AUDIENCE: ${file(./.env/${self:provider.stage}.json):AUTH0_AUDIENCE}
      AUTH0_CLIENT: ${file(./.env/${self:provider.stage}.json):AUTH0_CLIENT}
      AUTH0_SECRET: ${file(./.env/${self:provider.stage}.json):AUTH0_SECRET}
      FHIR_API: ${file(./.env/${self:provider.stage}.json):FHIR_API}
      PROJECT_ID: ${file(./.env/${self:provider.stage}.json):PROJECT_ID}

  get-provider:
    handler: src/get-provider/index.index
    events:
      - http:
          path: zambda/get-provider/execute-public
          method: POST
    timeout: 25
    environment:
      AUTH0_ENDPOINT: ${file(./.env/${self:provider.stage}.json):AUTH0_ENDPOINT}
      AUTH0_AUDIENCE: ${file(./.env/${self:provider.stage}.json):AUTH0_AUDIENCE}
      AUTH0_CLIENT: ${file(./.env/${self:provider.stage}.json):AUTH0_CLIENT}
      AUTH0_SECRET: ${file(./.env/${self:provider.stage}.json):AUTH0_SECRET}
      FHIR_API: ${file(./.env/${self:provider.stage}.json):FHIR_API}
      PROJECT_ID: ${file(./.env/${self:provider.stage}.json):PROJECT_ID}

  update-provider:
    handler: src/update-provider/index.index
    events:
      - http:
          path: zambda/update-provider/execute-public
          method: POST
    timeout: 25
    environment:
      AUTH0_ENDPOINT: ${file(./.env/${self:provider.stage}.json):AUTH0_ENDPOINT}
      AUTH0_AUDIENCE: ${file(./.env/${self:provider.stage}.json):AUTH0_AUDIENCE}
      AUTH0_CLIENT: ${file(./.env/${self:provider.stage}.json):AUTH0_CLIENT}
      AUTH0_SECRET: ${file(./.env/${self:provider.stage}.json):AUTH0_SECRET}
      FHIR_API: ${file(./.env/${self:provider.stage}.json):FHIR_API}
      PROJECT_ID: ${file(./.env/${self:provider.stage}.json):PROJECT_ID}
plugins:
  - serverless-offline
  - serverless-esbuild
