# Automatic resolution of version conflicts in package.json and package-lock.json
# Always selects the greater version when there's a conflict
package.json merge=package-version
package-lock.json merge=package-version

# Keep downstream version of seed data resources during merges from upstream
apps/ehr/tests/e2e-utils/seed-data/resources/*.json merge=ours

# Keep current branch version of all config files during merges
config/oystehr/*.json merge=ours
config/oystehr/apps.json merge=union
config/oystehr/buckets.json merge=union
config/oystehr/m2ms.json merge=union
config/oystehr/outputs.json merge=union
config/oystehr/project.json merge=union
config/oystehr/roles.json merge=union
config/oystehr/secrets.json merge=union
config/oystehr/zambdas.json merge=union