node_modules
coverage
.eslintcache
build
.DS_Store
.idea
.env
.serverlessrc
out.log

# Packages for zambda deployment
.dist

.turbo
test-results/
playwright/
playwright-report/
playwright-report-login/
test-results-login/

playwright/.cache/

dist
packages/ui-components/dist/*

# Sentry Config File
.env.sentry-build-plugin
.idea

**/vite.config.ts.timestamp-*.mjs
**/ottehr-secrets/
packages/utils/.ottehr_config/*
