!packages/**/*.ts
!packages/**/*.tsx
!packages/**/*.js
!packages/**/*.jsx
!apps/**/*.ts
!apps/**/*.tsx
!apps/**/*.js
!apps/**/*.jsx
!/vite.config.ts
.esbuild/
packages/**/.esbuild
.github
apps/**/env
packages/**/scripts/
old-ottehr/