!packages/**/*.ts
!packages/**/*.tsx
!packages/**/*.js
!packages/**/*.jsx
!apps/**/*.ts
!apps/**/*.tsx
!apps/**/*.js
!apps/**/*.jsx
!/vite.config.ts
build/
dist/
.esbuild/
packages/**/.esbuild
.serverless/
.github
apps/**/env
packages/**/scripts/
old-ottehr/