@font-face {
  font-family: 'Rubik';
  src:
    local('Rubik'),
    url(./assets/fonts/Rubik-Regular.woff2) format('woff2'),
    local('Rubik'),
    url(./assets/fonts/Rubik-Regular.woff) format('woff'),
    local('Rubik'),
    url(./assets/fonts/Rubik-Regular.otf) format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:
    local('Rubik'),
    url(./assets/fonts/Rubik-Bold.woff2) format('woff2'),
    local('Rubik'),
    url(./assets/fonts/Rubik-Bold.woff) format('woff'),
    local('Rubik'),
    url(./assets/fonts/Rubik-Bold.otf) format('otf');
  font-weight: bold;
}
