@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url(./assets/fonts/Roboto-Regular.woff2) format('woff2'),
    local('Roboto'),
    url(./assets/fonts/Roboto-Regular.woff) format('woff'),
    local('Roboto'),
    url(./assets/fonts/Roboto-Regular.otf) format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url(./assets/fonts/Roboto-RegularItalic.woff2) format('woff2'),
    local('Roboto'),
    url(./assets/fonts/Roboto-RegularItalic.woff) format('woff'),
    local('Roboto'),
    url(./assets/fonts/Roboto-RegularItalic.otf) format('otf');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url(./assets/fonts/Roboto-Bold.woff2) format('woff2'),
    local('Roboto'),
    url(./assets/fonts/Roboto-Bold.woff) format('woff'),
    local('Roboto'),
    url(./assets/fonts/Roboto-Bold.otf) format('otf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    url(./assets/fonts/Roboto-BoldItalic.woff2) format('woff2'),
    local('Roboto'),
    url(./assets/fonts/Roboto-BoldItalic.woff) format('woff'),
    local('Roboto'),
    url(./assets/fonts/Roboto-BoldItalic.woff2) format('otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TiemposText';
  src:
    local('TiemposText'),
    url(./assets/fonts/tiempos-text-regular.woff2) format('woff2'),
    local('TiemposText'),
    url(./assets/fonts/TiemposText-Regular.otf) format('otf'),
    local('TiemposText'),
    url(./assets/fonts/TiemposText-Regular.ttf) format('ttf');
}

@font-face {
  font-family: 'TiemposHeadline';
  src:
    local('TiemposHeadline'),
    url(./assets/fonts/tiempos-headline-regular.woff2) format('woff2'),
    local('TiemposHeadline'),
    url(./assets/fonts/TiemposHeadline-Regular.otf) format('otf'),
    local('TiemposHeadline'),
    url(./assets/fonts/TiemposHeadline-Regular.ttf) format('ttf');
}
