body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Rubik', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
  font-family: 'Rubik';
  src:
    local('Rubik'),
    url(./fonts/Rubik-Regular.woff2) format('woff2'),
    local('Rubik'),
    url(./fonts/Rubik-Regular.woff) format('woff'),
    local('Rubik'),
    url(./fonts/Rubik-Regular.otf) format('otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src:
    local('Rubik'),
    url(./fonts/Rubik-Bold.woff2) format('woff2'),
    local('Rubik'),
    url(./fonts/Rubik-Bold.woff) format('woff'),
    local('Rubik'),
    url(./fonts/Rubik-Bold.otf) format('otf');
  font-weight: bold;
}
