# Branding
VITE_APP_NAME="${BILLING_APP_NAME}"

# Constants
PORT=5002
VITE_APP_OYSTEHR_APPLICATION_DOMAIN=https://auth.zapehr.com
VITE_APP_OYSTEHR_APPLICATION_AUDIENCE=https://api.zapehr.com
VITE_APP_FHIR_API_URL=https://fhir-api.zapehr.com
VITE_APP_PROJECT_API_URL=https://project-api.zapehr.com/v1

# App Configuration
VITE_APP_ENV=${ENV}
VITE_APP_PROJECT_ID=${PROJECT_ID}
VITE_APP_IS_LOCAL=${IS_LOCAL}
VITE_APP_OYSTEHR_APPLICATION_CLIENT_ID=${OYSTEHR_APPLICATION_CLIENT_ID}
VITE_APP_OYSTEHR_APPLICATION_REDIRECT_URL=${OYSTEHR_APPLICATION_REDIRECT_URL}
VITE_APP_OYSTEHR_CONNECTION_NAME=${OYSTEHR_CONNECTION_NAME}
VITE_APP_MUI_X_LICENSE_KEY=${MUI_X_LICENSE_KEY}
VITE_APP_PROJECT_API_ZAMBDA_URL=${PROJECT_API_ZAMBDA_URL}
