name: Unit, Component, and Integration Tests

on:
  workflow_dispatch:
  push:
    branches: [main, develop]
    paths:
      - 'apps/ehr/**'
      - 'apps/intake/**'
      - 'packages/zambdas/**'
      - 'packages/utils/**'
      - 'packages/ui-components/**'
      - 'scripts/**'
      - '.github/**'
      - '.prettierignore'
      - 'package.json'
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    paths:
      - 'apps/ehr/**'
      - 'apps/intake/**'
      - 'packages/zambdas/**'
      - 'packages/utils/**'
      - 'packages/ui-components/**'
      - 'scripts/**'
      - '.github/**'
      - '.prettierignore'
      - 'package.json'

jobs:
  set-up-node:
    if: github.event.pull_request.draft == false || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 15
    strategy:
      matrix:
        node-version:
          - "22"
    env:
      SECRETS_REPOSITORY: ${{ vars.SECRETS_REPOSITORY }} # Secrets repository for configuration files
    steps:
      - name: Install SSH Client
        uses: webfactory/ssh-agent@836c84ec59a0e7bc0eabc79988384eb567561ee2 # v0.7.0
        with:
          ssh-private-key: ${{ secrets.DEPLOY_OTTEHR_KEY }}

      - name: Checkout the main repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Set up Node.js environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}

      - name: Check out secrets repo
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          repository: ${{ env.SECRETS_REPOSITORY }}
          ssh-key: ${{ secrets.DEPLOY_OTTEHR_KEY }}
          path: 'secrets'

      - name: Setup secrets
        run: |
          mkdir -p packages/zambdas/.env
          cp secrets/zambdas/* packages/zambdas/.env
          mkdir -p apps/ehr/env apps/intake/env
          cp secrets/ehr/app/.env.local apps/ehr/env/
          cp secrets/ehr/app/tests.*.json apps/ehr/env/
          cp secrets/intake/app/.env.local apps/intake/env/
          cp secrets/intake/app/tests.*.json apps/intake/env/

      - name: Cache node modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install dependencies
        run: npm ci

      - name: Upload artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: node-artifacts
          path: |
            node_modules
            apps/*/node_modules
            packages/*/node_modules
            apps/ehr/env
            apps/intake/env
            packages/zambdas/.env
          retention-days: 1

  unit-tests:
    needs: set-up-node
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 10
    steps:
      - name: Checkout the main repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Node.js environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22"

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: node-artifacts

      - name: Unit tests
        run: npm run test
        env:
          CI: true
          NODE_OPTIONS: '--max-old-space-size=8192'

  patient-component-tests:
    needs: set-up-node
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 10
    steps:
      - name: Checkout the main repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Node.js environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22"

      - name: Download node artifacts
        uses: actions/download-artifact@v4
        with:
          name: node-artifacts

      - name: Patient component tests
        run: cd apps/intake && npm run component-tests
        env:
          ENV: 'local'
          CI: true
          NODE_OPTIONS: '--max-old-space-size=8192'

  ehr-component-tests:
    needs: set-up-node
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 10
    steps:
      - name: Checkout the main repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Node.js environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22"

      - name: Download node artifacts
        uses: actions/download-artifact@v4
        with:
          name: node-artifacts

      - name: EHR component tests
        run: cd apps/ehr && npm run component-tests
        env:
          ENV: 'local'
          CI: true
          NODE_OPTIONS: '--max-old-space-size=8192'

  integration-tests:
    needs: set-up-node
    runs-on: ubuntu-latest-4-cores
    timeout-minutes: 10
    steps:
      - name: Checkout the main repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Set up Node.js environment
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: "22"

      - name: Download node artifacts
        uses: actions/download-artifact@v4
        with:
          name: node-artifacts

      - name: Integration tests
        run: npm run integration:zambdas
        env:
          ENV: 'local'
          CI: true
          NODE_OPTIONS: '--max-old-space-size=8192'

  report-status:
    needs: [unit-tests, patient-component-tests, ehr-component-tests, integration-tests]
    runs-on: ubuntu-latest
    if: always()
    steps:
      - name: Set GitHub Commit Status
        uses: actions/github-script@f28e40c7f34bde8b3046d885e986cb6290c5673b # v7.1.0
        with:
          script: |
            const jobs = [
              '${{ needs.unit-tests.result }}',
              '${{ needs.patient-component-tests.result }}',
              '${{ needs.ehr-component-tests.result }}',
              '${{ needs.integration-tests.result }}'
            ];
            const success = jobs.every(result => result === 'success');
            await github.rest.repos.createCommitStatus({
              ...context.repo,
              sha: context.sha,
              state: success ? 'success' : 'failure',
              context: 'CI / Tests',
              description: success ? 'All tests passed' : 'Some tests failed'
            });
