name: Automated tests

on:
  workflow_dispatch:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review
    branches:
      - main
      - develop
      - 'release/**'

jobs:
  unit-tests:
    name: Unit tests
    runs-on: ubuntu-latest-4-cores
    strategy:
      matrix:
        node-version:
          - "20"
          - "22"
    steps:
      # Checkout the main repository
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      # Cache node modules
      - name: Cache node modules
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        env:
          cache-name: cache-node-modules
        with:
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      # Set up Node.js environment
      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ matrix.node-version }}
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npm run test
        env:
          CI: true

  # integration-tests:
  #   name: Integration tests
  #   runs-on: ubuntu-latest-4-cores
  #   strategy:
  #     matrix:
  #       node-version:
  #         - "20"
  #         - "22"
  #   steps:
  #     - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
  #     - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
  #       with:
  #         node-version: ${{ matrix.node-version }}
  #         cache: npm

  #     - name: Install dependencies
  #       run: npm ci


  #     - name: Run integration tests
  #       run: npm run integration:zambdas
  #       env:
  #         ENV: 'local'
  #         CI: true
  #         NODE_OPTIONS: '--max-old-space-size=8192'

  # patient-component-tests:
  #   name: Component tests in patient app
  #   runs-on: ubuntu-latest-4-cores
  #   strategy:
  #     matrix:
  #       node-version:
  #         - "20"
  #         - "22"
  #   steps:
  #     - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
  #     - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
  #       with:
  #         node-version: ${{ matrix.node-version }}
  #         cache: npm
  #     - name: Run patient integration tests
  #       run: cd apps/intake && npm run component-tests
  #       env:
  #         ENV: 'local'
  #         CI: true

  # ehr-component-tests:
  #   name: Component tests in ehr app
  #   runs-on: ubuntu-latest-4-cores
  #   strategy:
  #     matrix:
  #       node-version:
  #         - "20"
  #         - "22"
  #   steps:
  #     - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
  #     - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
  #       with:
  #         node-version: ${{ matrix.node-version }}
  #         cache: npm

  #     - name: Install dependencies
  #       run: npm ci


  #     - name: Run ehr integration tests
  #       run: cd apps/ehr && npm run component-tests
  #       env:
  #         ENV: 'local'
  #         CI: true
